td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    margin: 20px 0px;
}

td:first-of-type, td:first-of-type > div {
    height: 20px;
    width: 25px;
} 